body{
  color: #40514E;
  text-align: center;
  font-family: "Merriweather",serif;
  font-size: 2rem;
}
.top-container{
  background-color: #EAF6F6;
  margin: 0;
  position: relative;
  padding-top: 100px
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 30px;
  padding: 50px 0 20px;
}
.intro{
  width: 30%;
  margin: auto;
}
p{
  line-height: 2;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
}
h2{
  font-family: "Montserrat" sans-serif;
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: "Montserrat" ,sans-serif;
  color: #11999E;

}
p{
  font-size: 1.5rem
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:40px;
}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:250px;

}
.webdevloper-image{
  width: 25%;
  background-color: #808080;
  float:left;
  margin-right: 30px;
}
.coding-image{
  background-color: #808080;
  width:25%;
  float: right;
  margin-left: 30px;
  }
a{
  color: #11999E;
  font-family: "Montserrat" sans-serif;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  padding-left: 30px;
}
.btn {
	box-shadow: 0px 10px 14px -7px #577378;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Montserrat" ,sans-serif;;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.copyright-message{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
